
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-font: "Krona one", sans-serif;
    --second-font: "Montserrat", sans-serif;
}

html, body {
    box-sizing: border-box;
    background-color: black;
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.line {
    border: 1px solid rgba(43, 43, 43, 0.527);
}

/* HEADER */

.header-container {
    background-color: rgb(24, 24, 24);
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 72px;
    margin: 0% 0% 0% 4%;
}

.header-logo {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding: 4% 0% 4% 0%;
}

.header-logo-img {
    display: block;
    width: 13vw;
    transition: .2s;
}

.header-logo-img:hover {
    transform: scale(1.05);
}

.header-logo-text {
    display: inline-block;
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.header-menu {
    display: flex;
}

/* .header-info {
    display: flex;
    flex-direction: row;
} */

/* .header-info-text {
    color: white;
} */

/* .header-info-list {
    display: flex;
    flex-direction: row;
}

.list-image {
    width: 50%;
} */

/* SECTION 1 */

.section1-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.900), rgba(0, 0, 0, 0.900)), url(images/Science.png);
    background-repeat: no-repeat;
    background-size: 300%;
}

.section1-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 9% 0% 9%;
}

.section1-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.section1-text-title {
    text-shadow: black 2px 5px;
    margin: 15% 0% 0% 0%;
    font-size: 2rem;
    line-height: 1.5;

}

.section1-text-line {
    text-shadow: black 2px 5px;
    margin: 12% 0% 12% 0%;

}

.section1-text-desc {
    font-family: var(--second-font);
    font-weight: 200;
    text-shadow: black 2px 5px;
    margin: 0% 0% 15% 0%;
    font-size: 1.7rem;
    line-height: 1.4;
}

.section1-images-image {
    width: 78vw;
    border: 2px transparent;
    border-radius: 20px;
    margin: 0% 0% 35% 0%;
}

/* SECTION 2 */

.section2-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.900), rgba(0, 0, 0, 0.900)), url(images/sci.png);
    background-repeat: no-repeat;
    background-size: 400%;
}

.section2-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 9% 0% 9%;
}

.section2-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.section2-text-title {
    text-shadow: black 2px 5px;
    margin: 15% 0% 0% 0%;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.5;

}

.section2-text-line {
    text-shadow: black 2px 5px;
    margin: 15% 0% 15% 0%;

}

.section2-text-desc {
    font-family: var(--second-font);
    font-weight: 200;
    text-shadow: black 2px 5px;
    margin: 0% 0% 18% 0%;
    padding: 0% 1% 0% 1%;
    font-size: 2rem;
    line-height: 1.4;
    font-size: 1.60rem;
}

.section2-images-image {
    width: 78vw;
    border: 2px transparent;
    border-radius: 20px;
    margin: 0% 0% 35% 0%;
}